@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4">
			<a href="https://DTAT.ir" target="_blank">About</a>

			@*
			<a href="/authentication/login">Login</a>
			<a href="/authentication/logout">Logout</a>
			*@

			@* New *@

			<AuthorizeView>
				<Authorized>
					<a href="/authentication/logout">Logout</a>
				</Authorized>
				<NotAuthorized>
					<a href="/authentication/login">Login</a>
				</NotAuthorized>
			</AuthorizeView>
		</div>

		<article class="content px-4">
			@(Body)
		</article>
	</main>
</div>
