<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">Client</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@(NavMenuCssClass) nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
				Home
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="page1">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>
				Page 1
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="page2">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>
				Page 2
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="page3">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>
				Page 3
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="page4">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>
				Page 4
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="page5">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>
				Page 5
			</NavLink>
		</div>

		@* New *@
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="learnlocalstorage">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>
				Learn Local Storage
			</NavLink>
		</div>

		@* New *@
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="learnsessionstorage">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>
				Learn Session Storage
			</NavLink>
		</div>
	</nav>
</div>

@code
{
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
