@page "/authentication/logout"
@inject NavigationManager navigationManager
@*@inject Providers.CustomAuthenticationStateProvider customAuthenticationStateProvider*@

<PageTitle>Logout</PageTitle>

<h1>
	Logout
</h1>

<button type="button" class="btn btn-danger" @onclick="@LogoutAsync">Logout</button>

@code
{
	public async Task LogoutAsync()
	{
		// await customAuthenticationStateProvider.LogoutAsync();

		navigationManager.NavigateTo
			(uri: string.Empty, forceLoad: false);

		await Task.CompletedTask;
	}
}
